{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Univast API | Server Error">

        <meta property="og:title" content="Univast API | Server Error" />
        <meta property="og:description" content="Query data for tertiary educational institutions globally" />
        <meta property="og:image" content="https://camo.githubusercontent.com/41760185905587b5834025a8239aa1bed78075991d2479c8535c1f427c01127f/68747470733a2f2f656e637279707465642d74626e302e677374617469632e636f6d2f696d616765733f713d74626e3a414e6439476353324c5a3076425632547635444b55785f68325a4e6d4f554b624155614f4d785442655126757371703d434155" />
        <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        <title>Univast API | Server Error</title>
    </head>
    <body>
        <div class="wrapper">
            <h1 style="text-align: center">Oops, Internal Error<span class="dot">.</span></h1>
            <p>The server has encountered an internal error while performing the requested action.</p>
            <p>Please contact Engineering at Faraday below to report this issue.</p>
            <div class="icons">
              <a href="mailto:engineering@faraday.africa"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
              {% comment %} <a href=""><i class="fa fa-youtube-play"></i></a>
              <a href=""><i class="fa fa-paper-plane"></i></a> {% endcomment %}
            </div>
        </div>
    </body>
</html>