{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Faraday | API">

        <meta property="og:title" content="Univast | API" />
        <meta property="og:description" content="Query data for tertiary educational institutions globally" />
        <meta property="og:image" content="https://lh3.googleusercontent.com/mdpKaGnnJZDhTjwhKmJzNKX2OsejjWWDk-Euql_KJjDEwIOpkKyajk8vVz7GOJKI9VwZ9oZ0Ot9ePtmhSoKXvGt3-gU1fKbaUBG7UwkbnMEFalY90Ht9qagX95hfBiMQODtTiyMbLAoWD2Hy0-12jgS4cx3gR1gP6NR_wTHcys1IFrd4M41oV_oP9-lYwFTua4Xhn0qjm2vJ1858E73oIOAbwyWB3LYsS9Npwf_Va-e4bSqZVa3s-Kk-htJncmutHvnUiT4OYAYhF2LNDkO7ryk2r3505rZATHfLK1VMYrach1bcOG09Bc8q8mFXufRxY-q8H5-9N4hhNeVeW9zRUSh6ne9GFDn40gCo_VWzk6MPXa23NmSTe6_1RDynz4VOtx1SRRY4ogxvGVxihRIoAIXaEZeOIYy4mD9F47RUBg-I5IGF5leJIYavO82yFlOGhLPhW40SH_gzlj9n0pjcqLIsx4O9tD3vyKV1ofPwq1eB0z10J9FEsg0IsKX6vsd4s5G0qaaE2EBjw72hkVWNmBWfcM5y3bC7yzopKT2gfrpxTmlrrVTHFMawgGzFoYsgdIXEAPUvDDr4Q2CGarmfkac11k6Qw1HprPcCHiHFwpn3R1ZubZoP6zV8l9sDA4TdjAjvzcXSwTJGy0-iCX2uDEwNieNqGJWBs4W-rTnRE8cS8NhEO7GZAEjLHBj42Tt-DGa3I0lacgbr_4go5D35pZOOaU8QgmsiiTUMWJZdRpLlS5NZLw8U20fWWcy3pb0B56zt8cAWy93cX4Y9XJqyJSbyE_t6os5A=s225-no?authuser=0" />
        <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        <title>Univast | API</title>
    </head>
    <body>
        <div class="wrapper">
            <h1 style="text-align:center">Univast | API<span class="dot">.</span></h1>
            <p>API to query information about tertiary educational institutions globally [Currently supports only Nigeria]</p>
            
            
            <div class="icons">
                <a href="{% url 'documentation' %}"><i class="fa fa-book"></i></a>
                <a href="mailto:engineering@faraday.africa"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com/faradayafrica"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/faradayafrica"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </body>
</html>